[package]
name = "rymfony"
version = "0.1.0"
authors = ["Alex Rock Ancelet <pierstoval@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
clap = "2.33"
console = "0.11"
ctrlc = { version = "3.1", features = ["termination"] }
dirs = "1.0"
env_logger = "0.8"
fastcgi-client = "0.5"
glob = "0.3"
http = "0.2"
httparse = "1.3"
hyper = "0.13"
hyper-staticfile = "0.5"
is_executable = "0.1"
log = "0.4"
openssl = { version = "0.10", features = ["vendored"] }
openssl-sys = "0.9"
pretty_env_logger = "0.4"
prettytable-rs = "0.8"
regex = "1.3"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tokio = { version = "0.2", features = ["full"] }
tokio-native-tls = "0.2"
which = "4.0"
warp = { version = "0.2", features = ["tls"]}
wsl="0.1"
runas = "0.2.1"
sha2 = "0.9.2"
sysinfo = "0.15.3"

[target.'cfg(not(target_family = "windows"))'.dependencies]
users = "0.10"

[profile.release]
opt-level = 'z' # Optimize for size.
lto = true # Optimize at the link stage with "Link Time Optimization"
codegen-units = 1 # Slower compilation, but more optimization
