<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         cacheResultFile=".phpunit.cache/test-results"
         executionOrder="depends,defects"
         failOnWarning="true"
         verbose="true"
         extensionsDirectory="./tests"
    >
    <testsuites>
        <testsuite name="default">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory=".phpunit.cache/code-coverage" processUncoveredFiles="true">
        <include>
            <directory suffix=".php">""</directory>
        </include>
    </coverage>

    <extensions>
        <extension class="Rymfony\Tests\HttpServerExtension" />
    </extensions>
</phpunit>
